flows/Update_Meter_Reading.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_RecordId</name>
        <label>Set RecordId</label>
        <locationX>739</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkStep</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check whether Id of Work Step exists or not.</description>
        <name>Check_IdExists</name>
        <label>Check Id Exists</label>
        <locationX>503</locationX>
        <locationY>88</locationY>
        <defaultConnector>
            <targetReference>Get_WorkStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IdExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecordId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Meter Read Date Asset Attribute exists or not.</description>
        <name>Check_Meter_Read_Date_Asset_Attribute_Exists</name>
        <label>Check Meter Read Date Asset Attribute Exists?</label>
        <locationX>733</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Create_MeterReadDateAssetAttribute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MeterReadDate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MeterReadDateAssetAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MeterReadDateAssetAttribute</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the Meter Read Asset Attribute exists or not.</description>
        <name>Check_MeterReadAssetAttributeExists</name>
        <label>Check Meter Read Asset Attribute Exists?</label>
        <locationX>735</locationX>
        <locationY>569</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MeterReadAssetAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MeterReadAssetAttribute</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MeterReadAssetAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MeterReadAssetAttribute</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A Screen flow that is used to update the meter readings.</description>
    <environments>Default</environments>
    <interviewLabel>Update Meter Reading {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Enter meter reading</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Creates Meter Read Asset Attribute.</description>
        <name>Create_MeterReadAssetAttribute</name>
        <label>Create Meter Read Asset Attribute</label>
        <locationX>612</locationX>
        <locationY>726</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_MeterReadAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterRead</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Meter Read Date Asset Attribute.</description>
        <name>Create_MeterReadDateAssetAttribute</name>
        <label>Create Meter Read Date Asset Attribute</label>
        <locationX>437</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Check_MeterReadAssetAttributeExists</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_MeterReadDateAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterReadDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordLookups>
        <description>Get Meter Read Asset Attribute.</description>
        <name>Get_MeterReadAsset</name>
        <label>Get Meter Read Asset Attribute</label>
        <locationX>1241</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterReadDateAssetAttribute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AttributeDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MeterReadAttributeDefinitionId</elementReference>
            </value>
        </filters>
        <object>AssetAttribute</object>
        <outputAssignments>
            <assignToReference>var_MeterReadAssetAttributeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Meter Read Attribute Definition.</description>
        <name>Get_MeterReadAttributeDefinition</name>
        <label>Get Meter Read Attribute Definition</label>
        <locationX>909</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterReadDateTimeAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Read</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_MeterReadAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Meter Read Date Asset Attribute.</description>
        <name>Get_MeterReadDateAssetAttribute</name>
        <label>Get Meter Read Date Asset Attribute</label>
        <locationX>1239</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S01_MeterReadDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AttributeDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MeterReadDateAttributeDefinitionId</elementReference>
            </value>
        </filters>
        <object>AssetAttribute</object>
        <outputAssignments>
            <assignToReference>var_MeterReadDateAssetAttributeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Meter Read DateTime Attribute Definition.</description>
        <name>Get_MeterReadDateTimeAttributeDefinition</name>
        <label>Get Meter Read DateTime Attribute Definition</label>
        <locationX>1082</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterReadAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Read Date Time</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_MeterReadDateAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Work Order.</description>
        <name>Get_WorkOrder</name>
        <label>Get Work Order</label>
        <locationX>734</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterReadAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_AssetId</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Work Step record.</description>
        <name>Get_WorkStep</name>
        <label>Get Work Step</label>
        <locationX>510</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Meter Reading Asset Attribute.</description>
        <name>Update_MeterReadAssetAttribute</name>
        <label>Update Meter Read Asset Attribute</label>
        <locationX>873</locationX>
        <locationY>723</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MeterReadAssetAttributeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterRead</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Meter Read Date Asset Attribute.</description>
        <name>Update_MeterReadDateAssetAttribute</name>
        <label>Update Meter Read Date Asset Attribute</label>
        <locationX>1048</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Check_MeterReadAssetAttributeExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MeterReadDateAssetAttributeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterReadDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordUpdates>
    <screens>
        <description>A Screen flow that is used to update the meter readings.</description>
        <name>S01_MeterReadDetails</name>
        <label>Enter Meter Read Details</label>
        <locationX>1020</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Meter_Read_Date_Asset_Attribute_Exists</targetReference>
        </connector>
        <fields>
            <name>S01_MeterRead</name>
            <dataType>Number</dataType>
            <fieldText>Meter Reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>S01_MeterReadDateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a valid date &amp;amp; time.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!S01_MeterReadDateTime} &lt;={!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Check_IdExists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable is used to store the Id of Work Step associated with this flow.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Id of Work Step associated with this flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Asset Id.</description>
        <name>var_AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Meter Read Asset Attribute Id.</description>
        <name>var_MeterReadAssetAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Meter Read Attribute Definition Id.</description>
        <name>var_MeterReadAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Meter Read Date Asset Attribute Id.</description>
        <name>var_MeterReadDateAssetAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Meter Read Date Attribute Definition Id.</description>
        <name>var_MeterReadDateAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the Work Order Id.</description>
        <name>var_WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
